/* TODO: Add sitewide styles */

/* Background */
body {
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Mr. Krabs Image */
.krabs-img {
    position: fixed;
    bottom: 1px;
    left: -7%;
    width: 650px;
    height: auto;
  }
  
  /* Krabby Patty Image */
  .patty-img {
    position: fixed;
    bottom: 20px;
    right: 2%;
    width: 400px;
    height: auto;
  }
  
  /* POOP! Message */
  .poop-message {
    background-color: antiquewhite;
    border-radius: 15px;
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ff4040;
    white-space: nowrap;
    z-index: none;
  }

